pandas
numpy
pymongo
vertexai
google-cloud-language
google-cloud-aiplatform
tqdm
scikit-learn
nltk
collection
google-api-python-client
transformers
llama-cpp-python
torch
tensorflow
sentencepiece
vaderSentiment
beautifulsoup4==4.6.3
requests
fastapi
pydantic
extraction
asyncio
selenium 
webdriver-manager