pandas
numpy
pymongo
google-cloud-language
google-cloud-aiplatform
tqdm
scikit-learn
nltk
collection
google-api-python-client
transformers
llama-cpp-python
torch
tensorflow
sentencepiece
vaderSentiment
beautifulsoup4==4.6.3
requests
fastapi
pydantic
extraction
selenium 
webdriver-manager
uvicorn
sentence-transformers
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz